<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.CommentMapper">

    <!--添加评论-->
    <insert id="addComment">
        insert into comment(comment_content,comment_time,parent_id,post_id,user_id) values(#{commentContent},#{commentTime},#{parentId},#{postId},#{userId})
    </insert>


    <!--删除评论-->
    <update id="deleteComment">
        update comment set comment_del=1 where comment_id=#{commentId}
    </update>

    <!--评论点赞-->
    <insert id="giveLikeComment">
        insert into comment_fabulous values(null,user_id=#{userId},comment_id=#{commentId})
    </insert>

    <!--取消评论点赞-->
    <delete id="notLikeComment">
        delete from comment_fabulous where user_id=#{userId} and comment_id=#{commentId}
    </delete>

    <!--判断是否已点赞-->
    <select id="isLikeComment" resultType="java.lang.Integer">
        select * from comment_fabulous where user_id=#{userId} and comment_id=#{commentId}
    </select>

    <!--通过帖子ID查询所有一级评论-->
    <select id="findAllComment" resultMap="findComment">
        select comment_id,comment_content,comment_time,user_id from comment where comment_del=0 and post_id=#{postId}
    </select>

    <!--通过父级ID查询所有子评论-->
    <select id="findAllCommentre" resultMap="findComment">
        select comment_id,comment_content,comment_time,user_id from comment where comment_del=0 and parent_id=#{parentId}
    </select>

    <!--统计评论点赞数量-->
    <select id="countLike" resultType="java.lang.Integer">
        select count(cf_id) from comment_fabulous where comment_id=#{commentId}
    </select>

    <resultMap id="findComment" type="CommentVo">
        <id column="comment_id" property="commentId"/>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_time" property="commentTime"/>
        <result column="user_id" property="userId"/>
        <result column="parent_id" property="parentId"/>

        <association property="user" column="user_id" javaType="User"
                     select="com.cn.dao.UserMapper.findUserByUserId"/>
        <!--统计评论点赞数量-->
        <association property="countFabulous" column="comment_id" javaType="java.lang.Integer"
                     select="countLike"/>
    </resultMap>

</mapper>